<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	Contacts ggggggggggggggg!

	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide"></div>
			<div class="swiper-slide"></div>
			<div class="swiper-slide"></div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper__arrow">
			<div class="swiper__arrow-next"></div>
			<div class="swiper__arrow-prev"></div>
		</div>
		<div class="swiper-scrollbar"></div>
	</div>

	<include src="footer.html"></include>
</body>
</html>