<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./assets/css/style.css" />
	</head>
	<body>
		<div class="wrapper">

			{% include "sections/header.html" %}

			<main class="main"></main>
			<div class="content">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni ad provident sequi accusantium, cupiditate neque totam minus recusandae laborum adipisci beatae, vitae esse cum. Deserunt alias nulla rem quisquam odio.
				Consequatur sequi reiciendis nobis a quod deserunt doloremque nihil explicabo tenetur suscipit. Illum veniam maxime nulla vitae, unde minus recusandae porro ratione optio itaque, totam similique quia! Quisquam, quam eum.
				Explicabo facilis, hic obcaecati at reiciendis natus id quia, aut eveniet commodi ducimus labore harum accusamus. Doloremque consequatur error dolor, obcaecati perferendis rerum mollitia officiis dolore tempora dolores non deleniti?
				Fugit ipsum eligendi corrupti laboriosam magni architecto quia neque deserunt totam, numquam autem repellendus aliquam possimus, praesentium, ducimus nam consectetur. Voluptatum voluptatibus consequuntur corrupti quam laudantium repellat odio esse animi?
				Commodi nesciunt iusto illum soluta voluptates sapiente laboriosam quae deserunt aut labore possimus omnis <span data-tooltip="Подсказка">exercitationem asperiores</span> voluptate, cupiditate, natus facilis doloremque eligendi saepe vitae quaerat! Id praesentium est doloremque omnis!
				Quas culpa officia asperiores excepturi, est esse voluptatum recusandae atque, accusantium nemo, autem voluptas quidem. Illo earum ea beatae totam est libero? Sunt temporibus illo odit atque! Laborum, corporis distinctio?
				Magnam asperiores nam voluptatem nemo similique placeat alias esse, laboriosam hic mollitia quia magni est. Ipsam iure at, iste facere perferendis, eveniet neque nulla excepturi reprehenderit sapiente cumque doloremque consequatur.
				Nemo iusto ab eaque adipisci. Obcaecati veniam dolore, eaque fugit a aliquid alias quo at veritatis perspiciatis dignissimos! Inventore atque illum sint quidem porro quo alias aliquam deleniti dolores ipsa?
				Quasi excepturi alias eaque blanditiis quidem cum unde. Nulla nihil sit aspernatur consequuntur cum earum suscipit quos, blanditiis aliquam fugit necessitatibus velit nemo reprehenderit aut quas aperiam laudantium neque quod?
				Fuga vero vitae consequuntur et aliquid mollitia totam corporis ab magni adipisci itaque rem quisquam dolorum laudantium similique, dolores dignissimos. Consequuntur quo assumenda nobis ullam error impedit provident rem optio!
			</div>

			{% include "sections/footer.html" %}

		</div>

		<a href="http://ugryumov.com" style="display:none;">front-end</a>
		<script src="./assets/js/bundle.js"></script>
	</body>
</html>
